.containers{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:10px;
}


.title{
    font-size:12px;
    font-family: 'Roboto';
    font-weight:500;
}

.body{
    margin-top:10px;
    font-size:8px;
    line-height:1.5;
}

.body .paragraph{
    margin-bottom:1em;
}

.body .paragraph:nth-last-child(1){
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .containers{
        width:90%;
        margin:0 auto;
    }

    .textContainer{
        width:85%;
        margin-left:auto;
        margin-right:auto;
        /* margin-top:80px; */
    }

    .title{
        font-size:3.6vw;
        /* font-weight:300; */
    }
    
    .body{
        font-size:16px;
        margin-top:30px;
    }
}