.container{
    /* padding-top:150px; */
    
}

.title{
    font-weight:"Noto Sans KR", sans-serif;
    font-weight:400;

    font-size:25px;
    letter-spacing: 0.05em;
}

.imageContainer{
    width:100%;
    aspect-ratio: 1 / 0.5;

    background-image:url("/images/theme-head.jpg");

    background-position:0;
    background-size:cover;

    margin:0;
    margin-bottom:40px;

    max-height:350px;
}

@media screen and (min-width:768px) {
    .title{    
        width:80%;
        margin:0 auto;
    }
}