.container{
    margin-top:150px;
    font-family: 'Noto Sans KR', sans-serif;
}

.boardTitle{
    font-size:24px;
    padding-bottom:0.5em;
    border-bottom:1px solid #5e5e5e;   
}

.boardBody{
    padding:15px 0;
    border-bottom:1px solid #5e5e5e;
}

.boardBody p{
    margin-top:0;
}

.toList{
    margin-top:15px;
    text-align: right;
}